.test-box {
  background-color:
}
.header {
  font-style: oblique;
  text-shadow: red 2px 5px;
  color: black;
  text-decoration-style: wavy;
  text-overflow: ellipsis;
}
.sidebar {
  float: right;
  background-color:
  width: 45%;
  border-style:groove;
  border-color:
  border-top: 4px;
  border-bottom: 4px;
  border-left: 4px;
  border-right: 4px;
}
