.test-box {
  background-color: crimson;
}
.header {
  font-style: oblique;
  text-shadow: red 2px 5px;
  color: black;
  text-decoration-style: wavy;
  text-overflow: ellipsis;
}
.color {
  font-style: italic;
  font-weight: lighter;
  font-family: sans-serif;
  color:
}
.sidebar {
  float: right;
  background-color:
  width: 45%;
  border-style:groove;
  border-color:
  border-top: 4px;
  border-bottom: 4px;
  border-left: 4px;
  border-right: 4px;
}
.input {
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: 300;
  font-style: italic;
  text-shadow: blue 2px 5px;
}
